@media screen and (min-width: 320px) and (max-width: 399px) {
  .head .logo a > img {
    width: 80px;
  }
  .footer .footbox {
    height: 140px;
    padding: 0 15px;
  }
  .footer .footbox .con {
    width: 100%;
    padding: 0 30;
  }
  .footer .footbox .con > a:first-child {
    padding-top: 10px;
  }
  .module2-mf {
    padding: 30px 0;
  }
  .module2-mf .news-container {
    width: 100%;
  }
  .page-mf {
    margin-top: 20px;
  }
  .page-mf .col-sm-12 {
    padding: 0;
  }
  .pagination > li > a,
  .pagination > li > span {
    padding: 6px 10px;
  }
  .module {
    padding: 20px 15px;
  }
  .overseas-wrap {
    width: 100%;
    padding: 15px;
  }
  .ulitem .itemList {
    width: 90%;
    margin: 30px 5% 0;
  }
  .ulitem .itemList .itemListPic {
    width: 100%;
  }
  .ulitem .itemList .itemListPic img {
    width: 100%;
  }
  .ulitem .itemList .itemListCon {
    width: 100%;
  }
  .ulitem .itemList .itemListCon .itemDes {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .project-content {
    width: 100%;
    padding: 20px 0;
    margin: 0;
  }
  .project-content .left {
    width: 22%;
  }
  .project-content .right {
    width: 100%;
    margin: 20px 0;
  }
  .project-content .right .picture {
    width: 100%;
  }
  .project-content .right .picture .img_item {
    width: 96%;
    margin: 0 2% 18px;
  }
  .project-content .right .picture .img_item img {
    width: 100%;
  }
  .project-container .title {
    padding: 0 16px;
  }
  .project-container .item_wrap {
    width: 100%;
  }
  .project-container .item_wrap .item_box {
    margin: 0 2% 18px;
    width: 96%;
  }
  .project-container .item_wrap .item_box .heading strong {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
  .contrast .contrast_box .pic {
    width: 48%;
    margin: 0 1% 15px;
  }
  .contrast .contrast_box .pic .contrast_img img {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng span {
    width: 100%;
  }
  .news-container {
    padding: 0;
    width: 100%;
    margin-top: 30px;
  }
  .news-container .col-sm-4 {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .content .content {
    width: 100%;
  }
  .content .content .contact {
    width: 100%;
  }
  .content .content .contact .contact-map {
    width: 96%;
    margin: 0 auto;
  }
  .content .content .contact .contact-map .baidu-map-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .content .content .contact .address {
    width: 96%;
    margin: 0 auto;
  }
  .content .content .contact .address .qrcode {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 400px) and (max-width: 499px) {
  .footer .footbox {
    height: 120px;
    padding: 0 15px;
  }
  .footer .footbox .con {
    width: 100%;
    padding: 0 30;
  }
  .module2-mf {
    padding: 60px 0;
  }
  .module2-mf .news-container {
    width: 100%;
  }
  .page-mf {
    margin-top: 30px;
  }
  .module {
    padding: 30px 15px;
  }
  .overseas-wrap {
    width: 100%;
    padding: 10px;
  }
  .ulitem .itemList {
    width: 49%;
    margin: 30px .5% 0;
  }
  .ulitem .itemList .itemListPic {
    width: 100%;
  }
  .ulitem .itemList .itemListCon {
    width: 100%;
  }
  .ulitem .itemList .itemListCon .itemDes {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .project-content {
    width: 100%;
    padding: 20px 0;
    margin: 0;
  }
  .project-content .left {
    width: 22%;
  }
  .project-content .right {
    width: 74%;
    margin-left: 3%;
  }
  .project-content .right .picture {
    width: 100%;
  }
  .project-content .right .picture .img_item {
    width: 94%;
    margin: 0 1% 18px;
  }
  .project-content .right .picture .img_item img {
    width: 100%;
  }
  .project-container .title {
    padding: 0 16px;
  }
  .project-container .item_wrap {
    width: 100%;
  }
  .project-container .item_wrap .item_box {
    margin: 0 4% 24px;
    width: 92%;
  }
  .project-container .item_wrap .item_box .heading strong {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
  .contrast .contrast_box .pic {
    width: 39%;
    margin: 0 5.5% 30px;
  }
  .contrast .contrast_box .pic .contrast_img img {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng span {
    width: 100%;
  }
  .news-container {
    padding: 0;
    width: 100%;
    margin-top: 30px;
  }
  .news-container .col-sm-4 {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .content .content {
    width: 100%;
  }
  .content .content .contact {
    width: 100%;
  }
  .content .content .contact .contact-map {
    width: 96%;
    margin: 0 auto;
  }
  .content .content .contact .contact-map .baidu-map-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .content .content .contact .address {
    width: 96%;
    margin: 0 auto;
    position: relative;
  }
  .content .content .contact .address .qrcode {
    margin: 0;
    position: absolute;
    right: 30px;
    top: 50px;
  }
}
@media screen and (min-width: 500px) and (max-width: 639px) {
  .footer .footbox {
    height: 120px;
    padding: 0 15px;
  }
  .footer .footbox .con {
    width: 100%;
    padding: 0 30;
  }
  .module2-mf {
    padding: 60px 0;
  }
  .module2-mf .news-container {
    width: 100%;
  }
  .page-mf {
    margin-top: 30px;
  }
  .module {
    padding: 50px 15px;
  }
  .overseas-wrap {
    width: 100%;
    padding: 15px;
  }
  .ulitem .itemList {
    width: 46%;
    margin: 30px 2% 0;
  }
  .ulitem .itemList .itemListPic {
    width: 100%;
  }
  .ulitem .itemList .itemListCon {
    width: 100%;
  }
  .ulitem .itemList .itemListCon .itemDes {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .project-content {
    width: 100%;
    padding: 20px 0;
    margin: 0;
  }
  .project-content .left {
    width: 22%;
  }
  .project-content .right {
    width: 74%;
    margin-left: 3%;
  }
  .project-content .right .picture {
    width: 100%;
  }
  .project-content .right .picture .img_item {
    width: 94%;
    margin: 0 1% 18px;
  }
  .project-content .right .picture .img_item img {
    width: 100%;
  }
  .project-container .title {
    padding: 0 16px;
  }
  .project-container .item_wrap {
    width: 100%;
  }
  .project-container .item_wrap .item_box {
    margin: 0 1.5% 24px;
    width: 47%;
  }
  .project-container .item_wrap .item_box .heading strong {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
  .contrast .contrast_box .pic {
    width: 29.3%;
    margin: 0 2% 20px;
  }
  .contrast .contrast_box .pic .contrast_img img {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng span {
    width: 100%;
  }
  .news-container {
    padding: 0;
    width: 100%;
  }
  .news-container .col-sm-4 {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .content .content {
    width: 100%;
  }
  .content .content .contact {
    width: 100%;
  }
  .content .content .contact .contact-map {
    width: 96%;
    margin: 0 auto;
  }
  .content .content .contact .contact-map .baidu-map-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .content .content .contact .address {
    width: 96%;
    margin: 0 auto;
    position: relative;
  }
  .content .content .contact .address .qrcode {
    margin: 0;
    position: absolute;
    right: 30px;
    top: 50px;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .module2-mf {
    padding: 60px 0;
  }
  .module2-mf .news-container {
    width: 100%;
  }
  .page-mf {
    margin-top: 30px;
  }
  .module {
    padding: 80px 30px;
  }
  .overseas-wrap {
    width: 100%;
    padding: 15px;
  }
  .ulitem .itemList {
    width: 31.3%;
    margin: 30px 1% 0;
  }
  .ulitem .itemList .itemListPic {
    width: 100%;
  }
  .ulitem .itemList .itemListCon {
    width: 100%;
  }
  .ulitem .itemList .itemListCon .itemDes {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .project-content {
    width: 100%;
    padding: 20px 0;
    margin: 0;
  }
  .project-content .left {
    width: 16%;
  }
  .project-content .right {
    width: 82%;
    margin-left: 1%;
  }
  .project-content .right .picture {
    width: 100%;
  }
  .project-content .right .picture .img_item {
    width: 47%;
    margin: 0 1% 18px;
  }
  .project-container .title {
    padding: 0 20px;
  }
  .project-container .item_wrap {
    width: 100%;
  }
  .project-container .item_wrap .item_box {
    margin: 0 1.5% 24px;
    width: 47%;
  }
  .project-container .item_wrap .item_box .heading strong {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
  .contrast .contrast_box .pic {
    width: 23%;
    margin: 0 1% 20px;
  }
  .contrast .contrast_box .pic .contrast_img img {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng span {
    width: 100%;
  }
  .news-container {
    padding: 0;
    width: 100%;
  }
  .news-container .col-sm-4 {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .content .content {
    width: 100%;
  }
  .content .content .contact {
    width: 100%;
  }
  .content .content .contact .contact-map {
    width: 96%;
    margin: 0 auto;
  }
  .content .content .contact .contact-map .baidu-map-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .content .content .contact .address {
    width: 96%;
    margin: 0 auto;
    position: relative;
  }
  .content .content .contact .address .qrcode {
    margin: 0;
    position: absolute;
    right: 30px;
    top: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .head {
    width: 100%;
  }
  .module2-mf {
    padding: 60px 0;
  }
  .module2-mf .news-container {
    width: 100%;
  }
  .page-mf {
    margin-top: 30px;
  }
  .overseas-wrap {
    width: 100%;
    padding: 15px;
  }
  .ulitem .itemList {
    width: 24%;
    margin: 30px .5% 0;
  }
  .ulitem .itemList .itemListPic {
    width: 100%;
  }
  .ulitem .itemList .itemListCon {
    width: 100%;
  }
  .ulitem .itemList .itemListCon .itemDes {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .project-content {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .project-content .left {
    width: 16%;
  }
  .project-content .right {
    width: 82%;
    margin-left: 1%;
  }
  .project-content .right .picture {
    width: 100%;
  }
  .project-content .right .picture .img_item {
    width: 32%;
    margin: 0 .4% 18px;
  }
  .project-container .title {
    padding: 0 20px;
  }
  .project-container .item_wrap {
    width: 100%;
  }
  .project-container .item_wrap .item_box {
    margin: 0 1% 24px;
    width: 31.3%;
  }
  .project-container .item_wrap .item_box .heading strong {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
  .contrast .contrast_box .pic {
    width: 19%;
    margin: 0 .5% 20px;
  }
  .contrast .contrast_box .pic .contrast_img img {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng span {
    width: 100%;
  }
  .news-container {
    padding: 0 30px;
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .content .content {
    width: 100%;
  }
  .content .content .contact {
    width: 100%;
  }
  .content .content .contact .contact-map {
    width: 96%;
    margin: 0 auto;
  }
  .content .content .contact .contact-map .baidu-map-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .content .content .contact .address {
    width: 96%;
    margin: 0 auto;
    position: relative;
  }
  .content .content .contact .address .qrcode {
    margin: 0;
    position: absolute;
    right: 30px;
    top: 50px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .head {
    width: 100%;
  }
  .module2-mf {
    padding: 60px 0;
  }
  .module2-mf .news-container {
    width: 100%;
  }
  .overseas-wrap {
    width: 100%;
    padding: 15px;
  }
  .ulitem .itemList {
    width: 24%;
    margin: 30px .5% 0;
  }
  .ulitem .itemList .itemListPic {
    width: 100%;
  }
  .ulitem .itemList .itemListCon {
    width: 100%;
  }
  .ulitem .itemList .itemListCon .itemDes {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .project-content {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .project-content .left {
    width: 20%;
  }
  .project-content .right {
    width: 78%;
    margin-left: 1%;
  }
  .project-content .right .picture {
    width: 100%;
  }
  .project-content .right .picture .img_item {
    width: 32%;
    margin: 0 .4% 18px;
  }
  .project-container .title {
    padding: 0 20px;
  }
  .project-container .item_wrap {
    width: 100%;
  }
  .project-container .item_wrap .item_box {
    margin: 0 1% 24px;
    width: 23%;
  }
  .project-container .item_wrap .item_box .heading strong {
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
  }
  .contrast .contrast_box .pic {
    width: 14.6%;
    margin: 0 1% 20px;
  }
  .contrast .contrast_box .pic .contrast_img img {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng {
    width: 100%;
  }
  .contrast .contrast_box .pic .ceng span {
    width: 100%;
  }
  .news-container {
    padding: 0 30px;
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .content .content {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .head {
    height: 60px;
  }
  .head .telym {
    display: none;
  }
  .head .logo {
    margin: 0 0 0 20px;
  }
  .head .logo a > img {
    padding: 7px 0;
  }
  .head .phone-icon {
    display: block;
  }
  .logo > a > img {
    width: 80px;
  }
  .menu {
    display: none;
  }
  .under-nav {
    margin-top: 60px;
  }
  .textc {
    margin: 0;
  }
}
@media screen and (max-width: 1250px) {
  .my-container {
    padding: 0 30px;
  }
  .head {
    width: 100%;
    padding: 0 30px;
  }
  .footer .con {
    width: 100%;
  }
  .fifth-module {
    padding: 0 30px;
  }
}
